{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "d3": true
  }
}